<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd.acti.dao.MeetingDetailMapper">
  <resultMap id="BaseResultMap" type="com.cd.acti.model.MeetingDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="meeting_title" jdbcType="VARCHAR" property="meetingTitle" />
    <result column="meeting_content" jdbcType="VARCHAR" property="meetingContent" />
    <result column="initiator" jdbcType="VARCHAR" property="initiator" />
    <result column="participant" jdbcType="VARCHAR" property="participant" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="page" jdbcType="INTEGER" property="page" />
    <result column="rows" jdbcType="INTEGER" property="rows" />
  </resultMap>
  <sql id="Base_Column_List">
    id, meeting_title, meeting_content, initiator, participant, time, place
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from meeting_detail
    limit #{page},#{rows}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from meeting_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByInitiator" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from meeting_detail
    where 1=1
    <if test="initiator != null">
      <![CDATA[
         or initiator = #{initiator}
    ]]>
    </if>
    <if test="participant != null">
      <![CDATA[
        or participant like '%' #{participant} '%'
    ]]>
    </if>
    limit #{page},#{rows}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from meeting_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cd.acti.model.MeetingDetail">
    insert into meeting_detail (id, meeting_title, meeting_content, 
      initiator, participant, time, 
      place)
    values (#{id,jdbcType=INTEGER}, #{meetingTitle,jdbcType=VARCHAR}, #{meetingContent,jdbcType=VARCHAR}, 
      #{initiator,jdbcType=VARCHAR}, #{participant,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{place,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cd.acti.model.MeetingDetail">
    insert into meeting_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="meetingTitle != null">
        meeting_title,
      </if>
      <if test="meetingContent != null">
        meeting_content,
      </if>
      <if test="initiator != null">
        initiator,
      </if>
      <if test="participant != null">
        participant,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="place != null">
        place,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="meetingTitle != null">
        #{meetingTitle,jdbcType=VARCHAR},
      </if>
      <if test="meetingContent != null">
        #{meetingContent,jdbcType=VARCHAR},
      </if>
      <if test="initiator != null">
        #{initiator,jdbcType=VARCHAR},
      </if>
      <if test="participant != null">
        #{participant,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cd.acti.model.MeetingDetail">
    update meeting_detail
    <set>
      <if test="meetingTitle != null">
        meeting_title = #{meetingTitle,jdbcType=VARCHAR},
      </if>
      <if test="meetingContent != null">
        meeting_content = #{meetingContent,jdbcType=VARCHAR},
      </if>
      <if test="initiator != null">
        initiator = #{initiator,jdbcType=VARCHAR},
      </if>
      <if test="participant != null">
        participant = #{participant,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="place != null">
        place = #{place,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cd.acti.model.MeetingDetail">
    update meeting_detail
    set meeting_title = #{meetingTitle,jdbcType=VARCHAR},
      meeting_content = #{meetingContent,jdbcType=VARCHAR},
      initiator = #{initiator,jdbcType=VARCHAR},
      participant = #{participant,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      place = #{place,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>